%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %h3 Basic Info
  = f.label :first_name
  = f.text_field :first_name
  %br/
  = f.label :last_name
  = f.text_field :last_name
  %br/
  = f.label :studying
  = f.text_field :studying
  %br/
  = f.label :graduating
  %i (e.g. 1T4)
  = f.text_field :graduating
  %br/
  = f.label :birthdate
  - current_year = Time.now.year
  = f.date_select :birthdate, start_year: current_year - 50, end_year: current_year - 14
  .row
    %h3 Lifting Info
    .span5
      = f.label :gender, 'Sex'
      = f.select :gender, ['M', 'F']
      = f.label :bodyweight, 'Bodyweight (in kilograms)'
      = f.number_field :bodyweight
      = f.label :weight_class
      - weight_classes = []
      - if resource.gender.match /\Am/i
        -# Male weight classes
        - weight_classes = ['53 kg', '59 kg', '66 kg', '74 kg', '83 kg', '93 kg', '105 kg', '120 kg', '120+ kg' ]
      - else
        -# Female weight classes
        - weight_classes = ['43 kg', '47 kg', '52 kg', '57 kg', '63 kg', '72 kg', '84 kg', '84+ kg']
      = f.select :weight_class, weight_classes
    .span5
      = f.label :squat_max, 'Back squat max (in kilograms)'
      = f.number_field :squat_max
      = f.label :bench_max, 'Bench press max (in kilograms)'
      = f.number_field :bench_max
      = f.label :deadlift_max, 'Deadlift max (in kilograms)'
      = f.number_field :deadlift_max
  %hr/
  %div
    = f.label :email
    %br/
    = f.email_field :email
  %div
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, :autocomplete => "off"
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %hr/
  %div
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password
  %div= f.submit "Update"
  %h3 Cancel my account
  %p
    Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
  = link_to "Back", :back
