%h2
  Profile Page for
  = @user.name
%h3
  Member #
  = @user.registration_number
.row-fluid.span12
  %p
    Studying
    = @user.studying or '??'
    , graduating class of
    = @user.graduating or '??'
.row-fluid
  .span4
    %h3 Basic Info
    %dl.dl-horizontal
      %dt Age
      %dd= @user.age
      %dt Sex
      %dd= @user.sex
      %dt Bodyweight
      %dd= @user.mass
  .span4
    %h3 Powerlifts
    %dl.dl-horizontal
      %dt Squat
      %dd= @user.squat
      %dt Bench
      %dd= @user.bench
      %dt Deadlift
      %dd= @user.deadlift
      %dt Total
      %dd= @user.total
      %dt Wilks Total
      %dd= @user.wilks
  .span4
    %h3 Olypmic Lifts
    %dl.dl-horizontal
      %dt Snatch
      %dd= @user.snatch
      %dt Clean &amp; Jerk
      %dd= @user.clean_and_jerk
      %dt Total
      %dd= @user.olympic_total
      %dt Sinclair Total
      %dd= @user.sinclair
