%br
%ul
  %li
    = form_tag supportus_path, method: 'get' do
      %button.btn.btn-large.btn-inverse(type="submit") Support us
  %li Download a copy of our
  %li
    %a(href="http://dl.dropbox.com/u/97246920/UTIS_SponsorshipPackage_V4.pdf") Sponsorship Package
%br
%h4 Thank you to our partners:
%ul
  %li
    %a(href="http://www.crossfitleviathan.com")= image_tag 'crossfit.png'
  %li
    %a(href="http://www.eaa.skule.ca/")= image_tag 'eaa.jpg'
  %li
    %a(href="http://skule.ca/")= image_tag 'engsoc.jpg'
  %li
    %a(href="http://my.alumni.utoronto.ca/s/731/index.aspx?sid=731&gid=36")= image_tag 'skule.jpg'
  %li
    %a(href="http://www.southstburger.com/")= image_tag 'southst.jpg'