%h1 Leaderboard
%table.stats
  %thead
    %tr
      %th Name
      %th Bodyweight
      %th Wilks Coefficient
      %th Squat
      %th Bench
      %th Deadlift
      %th Total
      %th Wilks Total
  %tbody
    - User.all.each do |user|
      - next if user.admin? or user.info_missing?
      %tr
        %td= user.name
        %td= user.bodyweight
        %td= "%0.3f" %  user.wilks
        %td= user.squat_max
        %td= user.bench_max
        %td= user.deadlift_max
        %td= user.total
        %td= "%0.3f" % user.wilks_total
