%h1 Leaderboard
%img.whitebrd.smaller(src="http://dl.dropbox.com/u/97246920/puppy.jpg")
%table.table
  %thead
    %tr
      %th Rank
      %th Name
      %th Bodyweight
      %th Weightclass
      %th Squat
      %th Bench
      %th Deadlift
      %th Total
      %th
        Wilks Total
        = link_to '[?]', "http://en.wikipedia.org/wiki/Wilks_Coefficient"
  %tbody
    - User.lifters.sort_by(&:wilks_total).reverse.each_with_index do |user,i|
      %tr
        %td= i + 1
        %td= link_to user.name, user_path(user)
        %td= user.mass
        %td= user.weight_class
        %td= user.squat
        %td= user.bench
        %td= user.deadlift
        %td= user.total
        %td= user.wilks
