%h1 Leaderboard
%table.stats
  %thead
    %tr
      %th Name
      %th Bodyweight
      %th Weightclass
      %th Squat
      %th Bench
      %th Deadlift
      %th Total
      %th= link_to 'Wilks Total', "http://en.wikipedia.org/wiki/Wilks_Coefficient"
  %tbody
    - User.all.sort_by(&:wilks_total).reverse.each do |user|
      - next if user.admin? or user.info_missing?
      %tr
        %td= link_to user.name, user_path(user)
        %td= user.mass
        %td= user.weight_class
        %td= user.squat
        %td= user.bench
        %td= user.deadlift
        %td= user.total
        %td= user.wilks
