%h1 Powerlifting Leaderboard
%figure
  = image_tag 'puppy.jpg', class: 'whitebrd smaller'
  %figcaption
    Johnson of Warrior Performance preps for a big bench
    %a(href="http://70sbig.com/blog/2012/05/pr-friday-week-in-review/") (image from 70sbig.com)
%table.table
  %thead
    %tr
      %th Rank
      %th Name
      %th Bodyweight
      %th Squat
      %th Bench
      %th Deadlift
      %th Total
      %th#wilksinfo
        Wilks Total
        %a(href="http://en.wikipedia.org/wiki/Wilks_Coefficient" title="Wilks Cofficient")
          %i.icon-question-sign
  %tbody
    - User.lifters.sort_by(&:wilks_total).reverse.each_with_index do |user,i|
      %tr
        %td= i + 1
        %td= link_to user.name, user_path(user)
        %td= user.mass
        %td= user.squat
        %td= user.bench
        %td= user.deadlift
        %td= user.total
        %td= user.wilks
