%h2 Powerlifting Results

%p All weights in kilograms; red indicates a failed attempt, green indicates success

- Meet.order('occured DESC').each do |meet|
  .text
    %h3= meet.title
  %table.results
    %tr
      %th(colspan="3") Lifters
      %th(colspan="4") Squat Attempts
      %th(colspan="4") Bench Attempts
      %th(colspan="4") Deadlift Attempts
    %tr
      %th Name
      %th Weight
      %th Sex
      %th  1
      %th  2
      %th  3
      %th Best
      %th  1
      %th  2
      %th  3
      %th Best
      %th  1
      %th  2
      %th  3
      %th Best
      %th Total
      %th Wilks
      %th Place
    - meet.meet_results.sort_by(&:wilks_total).reverse.each_with_index do |result, i|
      %tr
        %td= result.lifter
        %td= result.weight
        %td= result.gender
        %td{:class => result.squat1_success ? 'success' : 'fail'}= result_number result.squat1
        %td{:class => result.squat2_success ? 'success' : 'fail'}= result_number result.squat2
        %td{:class => result.squat3_success ? 'success' : 'fail'}= result_number result.squat3
        %td= result_number result.best_squat
        %td{:class => result.bench1_success ? 'success' : 'fail'}= result_number result.bench1
        %td{:class => result.bench2_success ? 'success' : 'fail'}= result_number result.bench2
        %td{:class => result.bench3_success ? 'success' : 'fail'}= result_number result.bench3
        %td= result_number result.best_bench
        %td{:class => result.deadlift1_success ? 'success' : 'fail'}= result_number result.deadlift1
        %td{:class => result.deadlift2_success ? 'success' : 'fail'}= result_number result.deadlift2
        %td{:class => result.deadlift3_success ? 'success' : 'fail'}= result_number result.deadlift3
        %td= result_number result.best_deadlift
        %td{:class => result.failed? ? 'fail' : ''}= result_number result.total
        %td{:class => result.failed? ? 'fail' : ''}= number_with_precision result.wilks_total, precision: 2
        %td= i+1
