%h1.span4.offset1 News

- if can? :create, Post
  .span10
    = link_to 'New Post', new_post_path, class: 'span5'

.row
- @posts.each do |post|
  .post
    %hgroup.row
      %h2.span2= link_to post.title, post
      %h3.quiet.span2.offset2
        = post.published
        - if can? :edit, post
          = link_to '(edit)', edit_post_path(post)
        -if can? :destroy, post
          = link_to 'Destroy', post, confirm: 'Delete Post?', method: :delete
    .post-body.row.offset1.span5
      :markdown
        #{post.content}
