.post.span12
  %hgroup.row-fluid
    %h2.span3= link_to @post.title, @post
    %h3.quiet.span6.offset3
      = @post.published
      - if can? :edit, @post
        = link_to '(edit)', edit_post_path(@post)
      -if can? :destroy, @post
        = link_to 'Destroy', @post, confirm: 'Delete Post?', method: :delete
  .post-body.rowfluid.offset2.span8
    :markdown
      #{@post.content}

.row-fluid.span8.offset1
  %h3
    = link_to 'Back', posts_path
