!!! html
%html(lang="en")
  %head
    %title UofTIronSports
    %meta(name="viewport" contant="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag "application", media: 'all'
    = csrf_meta_tags
  %body
    .container
      .row
        %header
          %hgroup.logo.span2
            %a(href="/")
              = image_tag 'logo.jpg'
          %nav.row.span10.navbar
            %ul.nav.nav-pills
              %li= link_to 'Facebook', "http://facebook.com/UofTIronsports", 'data-skip-pjax' => true
              %li= link_to 'Twitter', "http://twitter.com/UofTIronsports", 'data-skip-pjax' => true
              %li= link_to 'Flickr', root_url
              %li= link_to 'YouTube', "http://youtube.com/user/UofTIronsports", 'data-skip-pjax' => true
              -#%li= link_to 'RSS', root_url
              %li= link_to 'Mailing List', "http://eepurl.com/oqcN1", 'data-skip-pjax' => true
              - if not user_signed_in?
                %li.big= link_to 'Member Login', new_user_session_path
              - else
                %li.dropdown
                  %a(class="dropdown-toggle" href="#" data-toggle="dropdown")
                    Account <b class="caret"></b>
                  %ul.dropdown-menu
                    %li=  link_to 'View Profile', user_path(current_user)
                    %li= link_to 'Manage Account', edit_user_registration_path
                    %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
          %nav.row.span10.navbar
            %ul.nav.nav-tabs
              %li= link_to 'News', posts_path
              %li= link_to 'About', about_path
              %li= link_to 'Media', media_path
              %li= link_to 'Calendar', calendar_path
              %li= link_to 'Leaderboard', leaderboard_path
              %li= link_to 'Contact', contact_path

      %section.notify.row.span8.offset2
        = bootstrap_flash

      .row
        %section#sidebar.span2
          %ul
            %li Hello
            %li Hello
            %li Hello
            %li World
            %li What
            %li It
            %li is?

            %li World
            %li What
            %li It
            %li is?

            %li World
            %li What
            %li It
            %li is?

            %li Hello
            %li World
            %li What
            %li It
            %li is?

        %section#main.span10
          = yield
    = javascript_include_tag "application"
