!!! html
%html
  %head
    %title UofTIronSports
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    %section.header
      %hgroup.logo
        %a(href="/")
          = image_tag 'logo.jpg'
      %nav.topnav
        %ul
          %li= link_to 'Facebook', root_url
          %li= link_to 'Twitter', root_url
          %li= link_to 'Flickr', root_url
          %li= link_to 'YouTube', root_url
          %li= link_to 'RSS', root_url
          %li= link_to 'Mailing List', root_url
          - if not user_signed_in?
            %li.big= link_to 'Member Login', new_user_session_path
          - else
            %li= link_to 'Manage Acconut', edit_user_registration_path
            %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
      %nav.bottomnav
        %ul
          %li= link_to 'News', posts_path
          %li= link_to 'About', root_url
          %li= link_to 'Media', root_url
          %li= link_to 'Calendar', root_url
          %li= link_to 'Leaderboard', leaderboard_path
          %li= link_to 'Contact', root_url
    %section.notify
      - if notice
        %span.notice= notice
      - if alert
        %span.alert= alert

    %section#main
      = yield
    = javascript_include_tag "application"
