!!! html
%html(lang="en")
  %head
    %title UofTIronSports
    %meta(name="viewport" contant="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag "application", media: 'all'
    = csrf_meta_tags
  %body
    .container-fluid
      .row-fluid
        .span2
          %hgroup.logo
            %a(href="/")
              = image_tag 'logo.jpg'
          %section#sidebar
            = render 'shared/sidebar'
        .span10.navigation
          %nav.row-fluid.span11.navbar.topnav
            %ul.nav.nav-pills
              %li= link_to 'Facebook', "http://facebook.com/UofTIronsports"
              %li= link_to 'Twitter', "http://twitter.com/UofTIronsports"
              %li= link_to 'Picasa', "https://picasaweb.google.com/105478977951551399459"
              %li= link_to 'YouTube', "http://youtube.com/user/UofTIronsports"
              %li= link_to 'Mailing List', "http://eepurl.com/oqcN1"
              - if not user_signed_in?
                %li.big.pull-right= link_to 'Sign Up', new_user_registration_path
                = form_tag user_session_path, method: :post, class: 'navbar-form pull-right span4' do
                  = email_field_tag 'user[email]', nil, placeholder: 'Email', class: 'span4'
                  = password_field_tag 'user[password]', nil, placeholder: 'Password', class: 'span4'
                  = button_tag type: 'submit', class: 'btn btn-inverse' do
                    Log In
              - else
                %li.dropdown.pull-right
                  %a(class="dropdown-toggle big" data-target='#' href="/" data-toggle="dropdown")
                    Account <b class="caret"></b>
                  %ul.dropdown-menu.pull-right(role="menu")
                    %li=  link_to 'View Profile', user_path(current_user)
                    %li= link_to 'Manage Account', edit_user_registration_path
                    %li
                      = form_tag destroy_user_session_path, method: :delete do
                        = button_tag type: 'submit', class: 'btn btn-inverse' do
                          Sign Out
          %nav.row-fluid.span11.navbar.bottomnav
            %ul.nav.nav-pills
              %li{class: request.path == posts_path ? 'active' : ''}= link_to 'News', posts_path
              %li{class: request.path == about_path ? 'active' : ''}= link_to 'About', about_path
              %li{class: request.path == joinus_path ? 'active' : ''}= link_to 'Join us', joinus_path
              %li{class: request.path == media_path ? 'active' : ''}= link_to 'Gallery', media_path
              %li{class: request.path == calendar_path ? 'active' : ''}= link_to 'Calendar', calendar_path
              %li{class: request.path == leaderboard_path ? 'active' : ''}= link_to 'Leaderboard', leaderboard_path
              %li{class: request.path == contact_path ? 'active' : ''}= link_to 'Contact', contact_path

          %section#tweet.row-fluid.span11
            %p
              Latest: &ldquo;
              != latest_tweet_text
              &rdquo;
              = link_to '[Click to read more]', latest_tweet_url

          %section.notify.span8.offset1.row-fluid
            = bootstrap_flash

          %section#main.span11.row-fluid
            = yield
    = javascript_include_tag "application"
